CUSTOM_IMAGE={{ image }}
CUSTOM_TAG={{ tag }}

DB_PASSWORD={{ db_password }}

FLORI_DEFAULT_SITE={{ site_name }}
FLORI_DEFAULT_APPS={{ apps_csv }}

FRAPPE_SITE_NAME_HEADER=$$host
UPSTREAM_REAL_IP_ADDRESS=172.16.0.0/12
UPSTREAM_REAL_IP_HEADER=X-Forwarded-For
UPSTREAM_REAL_IP_RECURSIVE=on

PROXY_READ_TIMEOUT=120
CLIENT_MAX_BODY_SIZE=50m